# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode workspace settings
.vscode/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# macOS
.DS_Store

# Log files
*.log

# Environment variables
*.env
